extends layout

block content
  script(src="/js/diary.js")

  h1 Diary
  div(class="container")
    form(class="form-signin", ng-controller='TastingController',
         method="post", action="/diary")
      h2(class="form-signin-heading") What are you drinking?
      input.input-block-level(type="text", placeholder="Beer name",
        ng-model='beerName', name="beerName"
        typeahead='beerTitle(beer) for beer in beers($viewValue)')
      section(class="center")
        input(type="radio", name="rate", class="rate", id="rate-up")
        label(class="rate rate-up", for="rate-up")
        input(type="radio", name="rate", class="rate", id="rate-down")
        label(class="rate rate-down", for="rate-down")
      h2 Tasting notes
      textarea(class="notes", name="notes")
      button(class=" btn-large btn-primary", type="submit") Submit
