extends layout

block content
  header.head
    div(class="container history")
      h1 History
  div.container.history
    h2(class="form-signin-heading")
    for tasting in tastings

        article.entry

          div.image-wrap
            div.image-circle
              img(src="/images/beers/dead-guy.jpg")
          section

            header
              h3
                span.beer-name= tasting.beer.name
              if tasting.liked
                span.rating Liked
              p Drank at #{tasting.location.name}
              p= tasting.notes
