extends layout

block content
  div(class="container history")
    h1 History
    h2(class="form-signin-heading")
    for tasting in tastings

        article.entry

          div.image-wrap
            div.image-circle
              img(src="/images/beers/dead-guy.jpg")
          section

            header
              h3
                span.beer-name= tasting.beerName
              if tasting.liked
                span.rating Liked
              p= tasting.notes
