extends layout

block content
  div(class="container history")
    h1 History
    h2(class="form-signin-heading")
    article.entry
      header
        h3
          span.brewery Rogue
          span  -
          span.beer-name Dead Guy Ale
        span.rating Liked
      div.image-circle
        img(src="/images/beers/dead-guy.jpg")
      section
        p The beer had a great amber appearance. The smell had notes of caramel and pumpkin flavors. The taste was very malty and had pumpkin flavors. The body had a medium mouthfeel. This is a delicious but different beer.

    article.entry
      header
        h3
          span.brewery Rogue
          span  -
          span.beer-name Dead Guy Ale
        span.rating Liked
      section
        p The beer had a great amber appearance. The smell had notes of caramel and pumpkin flavors. The taste was very malty and had pumpkin flavors. The body had a medium mouthfeel. This is a delicious but different beer.

    article.entry
      header
        h3
          span.brewery Rogue
          span  -
          span.beer-name Dead Guy Ale
        span.rating Liked
      section
        p The beer had a great amber appearance. The smell had notes of caramel and pumpkin flavors. The taste was very malty and had pumpkin flavors. The body had a medium mouthfeel. This is a delicious but different beer.

    article.entry
      header
        h3
          span.brewery Rogue
          span  -
          span.beer-name Dead Guy Ale
        span.rating Liked
      section
        p The beer had a great amber appearance. The smell had notes of caramel and pumpkin flavors. The taste was very malty and had pumpkin flavors. The body had a medium mouthfeel. This is a delicious but different beer.

    article.entry
      header
        h3
          span.brewery Rogue
          span  -
          span.beer-name Dead Guy Ale
        span.rating Liked
      section
        p The beer had a great amber appearance. The smell had notes of caramel and pumpkin flavors. The taste was very malty and had pumpkin flavors. The body had a medium mouthfeel. This is a delicious but different beer.
