extends layout

block content
  div(class="container history")
    h1 History
    h2(class="form-signin-heading")
    article.entry
      section

        header
          h3
            span.brewery Rogue
            span  -
            span.beer-name Dead Guy Ale
          span.rating Liked

      div.image-wrap
        div.image-circle
          img(src="/images/beers/dead-guy.jpg")

    
    article.entry
      section

        header
          h3
            span.brewery Rogue
            span  - 
            span.beer-name Dead Guy Ale
          span.rating Liked

      div.image-wrap
        div.image-circle
          img(src="/images/beers/dead-guy.jpg")
    article.entry
      section

        header
          h3
            span.brewery Rogue
            span  -
            span.beer-name Dead Guy Ale
          span.rating Liked

      div.image-wrap
        div.image-circle
          img(src="/images/beers/dead-guy.jpg")
    article.entry
      section

        header
          h3
            span.brewery Rogue
            span  -
            span.beer-name Dead Guy Ale
          span.rating Liked

      div.image-wrap
        div.image-circle
          img(src="/images/beers/dead-guy.jpg")