extends layout

block content
  header.head
    div(class="container home")
      h1 Home
  div.container.sign-in
    a(href="/history") Show diary!
    a(href="/diary") Add a new entry!
    a(href="/trending") Show trending!
