extends layout

block content
  header.head
    div(class="container")
      h1 Home
  
  div.container.sign-in
    div.profile-pic
      img(src="/images/profile/mo.jpg")
    a.history(href="/history")
    a.diary(href="/diary")
    a.trending(href="/trending")
