doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://localhost:35729/livereload.js')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="/css/beerd.css", rel="stylesheet", media="screen")
  body
    script(src="/components/jquery/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/bootstrap.responsive.min.js")
    block content
