body {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
  color: #666;
}

h2, h3 {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.center > .rate {
  margin: 0px auto;
}

/* Header */

header.head {
  width: 100%;
  background-color: #e5e5e5;
}

header.head .container {
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
         flex-flow: row;
}

header.head h1 {
  text-align: center;

  -webkit-box-flex: 1;
  width: 90%;
  -webkit-flex: 1 12 90%;
          flex: 1 12 90%;
  -webkit-order: 1;
          order: 1;
}

header.head div.post-this {
  background-color: #eea030;
  width: 5%;
  min-width: 70px;
  -webkit-flex: 11 1 5%;
          flex: 11 1 5%;
  -webkit-order: 2;
          order: 2;
  padding-top:17px;
  font-size: 14pt;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

header.head div.post-this:hover, header.head div.post-this:active {
  background-color: #eda847;
  cursor: pointer;
}



/*
  DIARY
*/
.container label.rate {
  height: 90px;
  width: 90px;
  display: inline-block;
  border: 1px solid #333;
  margin: 10px;
  -webkit-appearance: none;
}

.container input.rate {
  display: none;
}

.container textarea {
  width: 100%;
  min-height:200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"], .heart, select {
  font-size: 12pt;
  border: 1px solid #d8d8d8;
  background-color: #e5e5e5;
  margin-bottom: 30px;
  padding: 0px 15px;
  -webkit-appearance: none;
}

input[type="text"] {
  height: 50px;
}

input.photo {
  height: 75px;
  background: #e5e5e5 url(/img/photo.jpg) right center no-repeat;

}

.heart {
  position: relative;
  padding-top: 25px;
  padding-bottom: 100px;
}

.heart input {
  display: none;
}

.heart textarea {
  min-height: 100px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  box-shadow: none;
  resize: none;
  overflow: scroll;
  font-size: 12pt;
  padding: 0;
}

.heart textarea::-webkit-input-placeholder {
  font-size: 22px;
}

.heart label {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: #ccc url(/img/heart-red.png) center center no-repeat;
  background: #ccc url(/img/heart.png) center center no-repeat;
  position: absolute;
  bottom: 5px;
  right: 10px;
  background-size: 55%;
}

.heart label:hover {
  background-size: 60%;
  box-shadow: 0px 0 3px #333
}

.heart input:checked + label {
  background-image: url(/img/heart-red.png);
}

/*
  HISTORY
*/
.history .entry {
  padding: 20px 0;
  margin-bottom:30px;
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
         flex-flow: row;
  margin-bottom: 0;
}

.image-wrap {
  margin-right: 4%;
  position: relative;
}

.image-wrap:after {
  content: "";
  border:1px solid #cecece;
  background-color: #cecece;
  left:50%;
  margin-left: -2px;
  height: 100px;
  width:2px;
  position: absolute;
}

.entry:last-child .image-wrap:after {
  display: none;
}

.entry:last-child section {
  border-bottom: 0!important;
}

.image-circle {
  max-width: 70px;
  max-height: 70px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #cecece;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 2 5%;
          flex: 1 2 5%;
  -webkit-order: 1;
          order: 1;
}

.image-circle img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  border: 0px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.history .entry h3 {
  display: inline-block;
  padding-right: 30px;
}

.history .entry section {
  width: auto;
  -webkit-box-flex: 2;
   -webkit-flex: 1 1 95%;
           flex: 1 1 95%;
   -webkit-order: 2;
           order: 2;
  padding-bottom: 25px;
  -webkit-box-sizing: content-box;
  border-bottom: 1px solid #cecece;
}

.history .entry span.brewery {
  display: block;
  font-weight: bold;
}