h1, h2, h3, h4, h5, h6 {
  font-family: 'Advent Pro', sans-serif;
}
.center {
  text-align: center;
}

.center > .rate {
  margin: 0px auto;
}

/*
  DIARY
*/
.container label.rate {

  height: 90px;
  width: 90px;
  display: inline-block;
  border: 1px solid #333;
  margin: 10px;
  -webkit-appearance: none;
}

.container input.rate {
  display: none;
}

.cotnainer .rate:checked {
  border:10px solid red;
}

.rate-up:before {
  content: "Rate up";
}

.rate-down:before {
  content: "Rate down";
}

.container textarea {
  width: 100%;
  display: block;
  min-height:200px;
}

input.rate[type="radio"]:checked + label {
  border: 3px solid blue;
}


/*
  HISTORY
*/
.history .entry {
  padding: 20px;
  margin-bottom:30px;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
         flex-flow: row;
  margin-bottom: 30px;
}

.image-wrap {
  margin-right: 2%;
  position: relative;
}

.image-wrap:after {
  content: "";
  border:1px solid #cecece;
  background-color: #cecece;
  left:50%;
  margin-left: -2px;
  height:100px;
  width:2px;
  position: absolute;
}

.entry:last-child .image-wrap:after {
  display: none;
}

.image-circle {
  max-width: 130px;
  max-height: 130px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #cecece;
  display: inline-block;
  -webkit-flex: 1 2 5%;
          flex: 1 2 5%;
  -webkit-order: 1;
          order: 1;
}

.image-circle img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  border: 4px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.history .entry h3 {
  display: inline-block;
  padding-right: 30px;
}

.history .entry section {
  width: auto;
   -webkit-flex: 1 1 95%;
           flex: 1 1 95%;
   -webkit-order: 2;
           order: 2;
  padding-bottom: 90px;
  margin-bottom: -30px;
  -webkit-box-sizing: content-box;
  border-bottom: 1px solid #cecece;
}