extends ../layout

block content
  h1 Diary
  div(class="container")
    form(class="form-signin")
      h2(class="form-signin-heading") What are you drinking?
      input(type="text", class="input-block-level", placeholder="Beer name")
      section(class="center")
        input(type="radio", name="rate", class="rate", id="rate-up")
        label(class="rate rate-up", for="rate-up")
        input(type="radio", name="rate", class="rate", id="rate-down")
        label(class="rate rate-down", for="rate-down")
      h2 Tasting notes
      textarea(class="notes")

      

      button(class=" btn-large btn-primary",type="submit") Submit