extends ../layout

block content
  script(src="/js/diary.js")

  h1 Diary
  div.container
    form.form-signin
      h2.form-signin-heading What are you drinking?
      input.input-block-level(type="text", placeholder="Beer name",
        ng-controller='BeerNameController', ng-model='selected',
        typeahead='beer for beer in beers | filter:$viewValue')
      section.center
        div.rate.rate-up Rate up
        div.rate.rate-down Rate down
      textarea.notes
      input(type="checkbox", value="remember-me")
      button.btn-large.btn-primary(type="submit") Sign in
